# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Testing / caching
.pytest_cache/
.mypy_cache/
.coverage

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints (if used later)
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/